<!DOCTYPE html>
<html lang="en">
<head>
  <title>CRUD Operations</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Django CRUD</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/create">Create</a></li>
          <li><a href="#">Update</a></li>
        </ul>
       </div>
    </nav>
    <div class="container">
      <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Mail</th>
        <th>Address</th>
        <th>Designation</th>
        <th>Process</th>
      </tr>
    </thead>
    <tbody>
      {% for emp in data %}
      <tr>
        <td>{{ emp.name }}</td>
        <td>{{ emp.email }}</td>
        <td>{{ emp.address }}</td>
        <td>{{ emp.designation }}</td>
        <td><a href="update/{{ emp.id }}">Update</a> || <a href="delete/{{ emp.id }}" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a></td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
    </div>






</body>
</html>

